/* DESKTOP VIEW */
@media only screen and (min-width:992px) {
  .homepage {
    column-gap: 60px;
  }
  .tablet-mobile {
    display: none;
  }
}

/* TABLET VIEW */
@media only screen and (max-width:992px) {
  .paragraph {
    overflow-x: hidden;
  }
  .desktop-menu {
    display: none;
  }
  .button {
    /*scale: 50%*/
  }
  .maintitlesubtext {
    width: 75%;
    line-height: 30px;
  }
  .splash {
    padding: 40px 50px;
  }

  .titledate {
    align-items: center;
  }

  .timeline {
    display: none;
  }

  

  .hamburger {
    display: block;
  }
  /* .abtme-bt {
    width:50%
  } */
}


/* MOBILE VIEW */
@media only screen and (max-width: 478px) {
  .paragraph {
    overflow-x: hidden;
    font-size: 10px;
    width: 250px;
  }
  .desktop-menu {
    display: none;
  }

  .homepage {
    column-gap: 25px;
  }

  .tl-bt {
    gap: 20px;
  }

  .image {
    height: 200px
  }

  .aboutme {
    row-gap: 10px;
  }

  .gallery {
    height: 200px;
    overflow-y: hidden;
    width: 90%;
  }
  .splash {
    padding: 15px 20px;
    row-gap: 5px;
  }
  .maintitlesubtext {
    line-height: 20px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2{
    font-size: 13px;
  }
  .main-button {
    font-size: 10px;
    justify-content: center;
    width: 60px;
    height: auto; 
  }
  .inner-switch {
    width: 25px;
    height: 15px;
  }

  .outer-switch {
    width: 50px;
  }

  .outer-switch {
    height: 24px;
  }
  
  .aboutme {
    flex-direction: column;
  }
  .aboutme-desc {
    align-items: center;
    width: auto;
  }
  .abtme-bt {
    column-gap: 20px;
  }
} 